{% extends 'base.html' %}
{% load blog_tags %}
{% load widget_tweaks %}  <!-- Подключаем widget_tweaks -->

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% if query %}
                    <h1>Пост содержит: {{ query }}</h1>
                    <h3>
                        {% with result.count as total_results %}
                            Найдено {{ total_results }} результат{{ total_results |pluralize:",а,ов" }}
                        {% endwith %}
                    </h3>
                    {% for post in result %}
                        <h4>
                            <a href="{{ post.get_absolute_url }}">
                                {{ post.title }}
                            </a>
                        </h4>
                        {{ post.content|markdown|truncatechars_html:12 }}
                    {% empty %}
                        <p>Нет информации по данному запросу</p>
                    {% endfor %}
                    <p><a href="{% url 'blog:post_search' %}">Искать снова</a></p>
                {% else %}
                    <h1>Поиск постов</h1>
                    <form method="get">
                        <div class="row align-items-center">  <!-- Строка с выравниванием по центру -->
                            <div class="col">  <!-- Колонка для поля ввода -->
                                {{ form.query|add_class:"form-control" }}  <!-- Поле ввода -->
                            </div>
                            <div class="col-auto">  <!-- Колонка для кнопки -->
                                <input type="submit" class="btn btn-outline-secondary" value="Найти">  <!-- Кнопка -->
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}